#!/bin/bash
echo ECS_CLUSTER=${ecs_cluster} >> /etc/ecs/ecs.config

#Install last version of awscli
sudo yum install -y awscli

#Download monitoring resources
aws s3 sync s3://${s3_resources} /ecs/monitoring-resources/ 